# docker-compose for development of ubersystem

lb:
  build: nginx
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - /var/run/docker.sock:/tmp/docker.sock:ro

web:
  build: .
  restart: always
  links:
    - db
  #  - redis
  #ports:
  #  - "80:8282"
  environment:
    - DB_CONNECTION_STRING=postgresql://uber_db:uber_db@rams_db:5432/uber_db
    - VIRTUAL_HOST=regg.anthrocon.org
    - CERT_NAME=ssl
db:
  build: postgres
  container_name: rams_db
  environment:
    - POSTGRES_PASSWORD=uber_db
    - POSTGRES_USER=uber_db
    - POSTGRES_DB=uber_db
    - AWS_SECRET_ACCESS_KEY=
    - AWS_ACCESS_KEY_ID=
    - WALE_S3_PREFIX=s3://
    - WALE_ENABLE_BACKUP=yes
