# docker-compose for development of ubersystem

lb:
  #image: jwilder/nginx-proxy
  build: nginx
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - /var/run/docker.sock:/tmp/docker.sock:ro
  #environment:
    #- HAPROXY_SSL_CERT=/ssl/ssl.pem
    #- HAPROXY_PROXY_BACKEND_OVERRIDE_ADDRESS=159.203.76.14
web:
  build: .
  links:
    - db
    - redis
  expose:
    - "8282"
  #volumes:
  #  - ./src:/app/plugins
  restart: always
  environment:
    - DB_CONNECTION_STRING=postgresql://uber_db:uber_db@rams_db:5432/uber_db
    - VIRTUAL_HOST=regg.anthrocon.org
    - CERT_NAME=ssl
    #- INTERLOCK_DATA={"hostname":"regg","domain":"anthrocon.org"}
db:
  image: postgres
  container_name: rams_db
  environment:
    - POSTGRES_PASSWORD=uber_db
    - POSTGRES_USER=uber_db
    - POSTGRES_DB=uber_db
redis:
  image: redis
