# docker-compose for development of ubersystem

web:
  image: magfest/uber-dev
  links:
    - db
  ports:
    - "8282:8282"
  volumes:
    - app:/mnt/app
db:
  image: postgres
  environment:
    - POSTGRES_PASSWORD=uber_db
    - POSTGRES_USER=uber_db
    - POSTGRES_DB=uber_db
